<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <meta property="og:image" content="{{ .Site.BaseURL }}images/zen-share.png" />
  <meta property="og:type" content="article" />
  <meta name="twitter:card" content="summary_large_image" />
  {{if .IsHome}}
  <title>{{ .Site.Title }} | {{ .Site.Params.HomeMotto }}</title>
  <meta property="og:title" content="{{ .Site.Title }}" />
  <meta name="description" content="">
  <meta name="keywords" content="" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="{{ .Site.BaseURL }}" />
  {{ end }}  
  {{if not .IsHome}}
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  <meta property="og:title" content="{{ .Title }} - {{ .Site.Title }}" />
  <meta name="description" content="{{ .Description }}">
  <meta name="keywords" content="{{ delimit .Keywords ", " }}" />
  <meta property="og:description" content="{{ .Description }}" />
  <meta property="og:url" content="{{ .Site.BaseURL }}{{ .Slug }}" />
  {{ end }}
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet">
  <!--
  <link rel="icon" href="/images/favicon.ico?{{ now.Unix }}" type="image/icon" />
  <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,400i,600,700&amp;subset=latin-ext" rel="stylesheet">
   -->
  <link rel="stylesheet" href="/bundle.css?{{ now.Unix }}" />
</head>

<body>
