//@import "bariol.less";

@fntBaseFamily: "Segoe UI", "San Francisco", Ubuntu, sans-serif;
@fntTitleFamily: "Palatino Linotype," "Book Antiqua", Palatino, serif;
@fntBaseSize: 18px;
@clrText: #303030;
@clrContrast: #cf1b1b;


* { box-sizing: border-box; }
html { 
  height: 100%; border: 0; margin: 0; padding: 0; overflow-y: scroll;
}
body {
  background-color: white;
  margin: 0; position: relative;
  width: 100%; min-height: 100%; padding-bottom: 56px;
  box-sizing: border-box; color: @clrText;
  -webkit-overflow-scrolling: touch;
  font-size: @fntBaseSize; font-family: @fntBaseFamily;
}

body>article {
  width: 900px; position: relative; margin: 0 auto;
}

body>footer {
  display: flex; justify-content: center;
  position: absolute; bottom: 0;
  width: 100%; padding: 8px; font-size: 14px;
}

a { 
  color: @clrText; text-decoration: none; border-bottom: 1pt dotted @clrContrast;
  &:hover { border-bottom-style: solid; }
}

article.main {
  padding-top: 30px;
  img[src$='#narrow'] { display: block; width: 70%; }
  h1 { text-transform: lowercase; font-family: @fntTitleFamily; font-size: 36px; font-weight: bold; margin: 0 0 10px 0; }
  h2 { text-transform: lowercase; font-family: @fntTitleFamily; font-size: 26px; }
  nav.above-title a { font-size: 14px; text-transform: lowercase; }
}

@media screen and (max-width: 912px) {
  body {
    padding: 0 16px;
  }
  body>header, body>article, body>footer {
    width: 100%;
  }
  body>footer { position: relative; margin: 56px 0 8px 0; }
}

@media screen and (max-width: 500px) {
  body>header {
    h1 {  font-size: 24px; line-height: 26px; }
    img { width: 100%; }
  }
}
