//@import "bariol.less";

@fntBaseFamily: "Segoe UI", "Helvetica Neue", Ubuntu, "San Francisco", sans-serif;
@fntTitleFamily: "Georgia", serif;
@fntBaseSize: 18px;
@clrText: #303030;
@clrContrast: #cf1b1b;
@bodyWidth: 900px;

* { box-sizing: border-box; }
html { 
  height: 100%; border: 0; margin: 0; padding: 0; overflow-y: scroll;
}
body {
  background-color: white;
  margin: 0; position: relative;
  width: 100%; min-height: 100%; padding-bottom: 56px;
  box-sizing: border-box; color: @clrText;
  -webkit-overflow-scrolling: touch;
  font-size: @fntBaseSize; font-family: @fntBaseFamily;
}

body>article {
  width: @bodyWidth; position: relative; margin: 0 auto;
}

body>footer {
  display: flex; justify-content: center;
  position: absolute; bottom: 0;
  width: 100%; padding: 8px; font-size: 14px;
}

a { 
  color: @clrText; text-decoration: none; border-bottom: 1pt dotted @clrContrast;
  &:hover { border-bottom-style: solid; }
}
h2 a { 
  border-bottom: none;
  &:hover { border-bottom: 1pt solid @clrContrast; }
}

article.main {
  padding-top: 30px; margin-bottom: 75px;
  img[src$='#narrow'] { display: block; width: 70%; }
  img { display: block; max-width: 100%; }
  h1 { text-transform: lowercase; font-family: @fntTitleFamily; font-size: @fntBaseSize * 2; font-weight: bold; margin: 0 0 10px 0; }
  h2 { text-transform: lowercase; font-family: @fntTitleFamily; font-size: @fntBaseSize * 1.6; margin: 40px 0 10px 0; }
  h3 { text-transform: lowercase; font-family: @fntTitleFamily; font-weight: bold; }
  nav.above-title a { font-size: 14px; text-transform: lowercase; }
  p { margin: 0 0 10px 0; }
  p.pagemeta { margin: -8px 0 20px 0; font-size: @fntBaseSize * 0.95; font-style: italic; }
  p.motto { margin: -8px 0 12px 0; font-style: italic; text-transform: lowercase; }
  nav.full-entry-link { 
    font-size: @fntBaseSize * 0.9; text-transform: lowercase;
  }
  .substack-signup { 
    display: block; width: 100%; height: 80px; position: relative;
    //border-top: 1pt solid #ccc; border-bottom: 1pt solid #ccc;
    iframe { display: block; position: absolute; left: 0; top: 0; width: 100%; height: 100%; }
  }
}
section.list-full h2 { margin-top: 10px; }

@media screen and (max-width: 912px) {
  body {
    padding: 0 16px;
  }
  body>header, body>article, body>footer {
    width: 100%;
  }
  body>footer { position: relative; margin: 56px 0 8px 0; }
}

@media screen and (max-width: 500px) {
  article.main {
    padding-top: 8px;
    h1 { font-size: @fntBaseSize * 1.8; }
    h2 { font-size: @fntBaseSize * 1.6; }
    img[src$='#narrow'] { width: 100%; }
  }
}
