<div class="youtube-container" id='vid-{{ .Get "id" }}'>
  <div class="video-placeholder">
    <img src='{{ .Get "img" }}' alt='Embedded video: {{ .Get "title" }}' class="video-snapshot-image" />
    <div class="overlay">
      <span class="title youtube-placeholder-label">
        {{ .Get "title" }}
      </span>
      <span class="notice youtube-placeholder-label">
        Click to activate embedded video. With this you agree to YouTube's <a class="privacy" href="https://policies.google.com/privacy" target="_blank">privacy policy</a>.
        <a class="info" href="https://github.com/gugray/youtube-privacy-embed" target="blank" title="What is this?">ⓘ</a>
      </span>
    </div>
    <img src="/video-player-button.svg" alt="Play video" class="video-player-button" />
  </div>  
</div>
